.SectionContainer1{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.Content1{
    display: flex;
    flex-direction: column;
    width: 85vw;
    z-index: 1;
}

.SubTitle1{
    align-self:last baseline;
}

.FirstContentBody{
    display: flex;
    flex-direction: row;
}

.Content2{
    display: flex;
    flex-direction: column;

    margin: 1vw;
}

.SubTitle2{
    align-self:first baseline;
}

.SecondContentBody{
    display: flex;
    flex-direction: row-reverse;
}

.Background{
    z-index: -1;
    position: absolute;
}